<!DOCTYPE html>
<html>
    <% include ./partials/head %>
    <body>
        
        <div class="main-container">

            
            <% include ./partials/navbar %>
            <% include ./partials/menu %>

         <div class="workspace">
                
                
                
                <div id="tool-div">
                </div>

                <div class='popup-save' id="popup-save">
                    <input type='text' class='text-field' value='Enter a title'>
                    <input type='submit' value='Save' class='btn-field'>
                </div>

                <div class="drafts"></div>
                <div class="publications"></div>
                <div class="article" contenteditable="true">

                </div>
            </div>
        </div>

        <% include ./partials/footer %>
    </body>
</html>