<div class="Bibliography">
    <ul class="ulbib">
        <li class="libib"><h4>Styles</h4></li>
        <li class="libib">
            <!--<form action="#">-->
            <div class="checkmarkdiv">
                <label class="roundcheckbox">APA<input type="checkbox" checked="checked"><span class="checkmark"></span></label>
                <label class="roundcheckbox">MLA<input type="checkbox"><span class="checkmark"></span></label>
                <label class="roundcheckbox">Harvard<input type="checkbox"><span class="checkmark"></span></label>
                <label class="roundcheckbox">Chicago<input type="checkbox"><span class="checkmark"></span></label>
            </div>
        </li>

        <!--
        <li class="libib">
            <div class="custom-select-div">
                <div class="custom-select" style="width:120px;">
                    <select>
                            <option value="none">All</option>
                            <option value="APA">APA</option>
                            <option value="MLA">MLA</option>
                            <option value="Harvard">Harvard</option>
                            <option value="Chicago">Chicago</option>
                    </select>
                </div>
            </div>
        </li>-->
    </ul>
        <div class="textbibdiv">
            <textarea class="textbib" rows="4" cols="50" value="Add reference">Add reference...</textarea>
            <button>Add</button>
        </div>
    <div class="contentbib">
        <br><br>
        <h3>Arts & Science, Art & Mathematics</h3><br>
        <div class="bidon"></div>
        <div class="content" >
            <div class="notselected" id="layerbib">
                <hr>
                <p>Yussof, Kathryn. ed. London: BiPolar Arts Catalyst, 2008</p>
            </div>
        </div>
        <div class="content">
             <div class="selected" id="layerbib">
                <hr>
                <p>Ascott Roy. Technoetic Arts. http://www.intellectbooks.com/journals lsdkflsjflsdjfjs</p>
                <div class="buttonwrapper">
                    <button>Delete</button>
                </div>
            </div>
        </div>
        <div class="content" >
            <div class="notselected" id="layerbib">
                <hr>
                <p>Yussof, Kathryn. ed. London: BiPolar Arts Catalyst, 2008</p>
               <!-- <div class="buttonwrapper">
                        <button>Delete</button>
                </div>-->
            </div>
        </div>
    </div>
</div>