<div class="Library">
    <div class="menulibrary">
        <div class="firstcolumn"><h5 class="selected">All </h5><h5 class="notselected"> | images | gifs | videos | sounds</h5></div>
        <div  class="secondcolumn">
            <button class='buttonlib'>Import</button>
            <button class='buttonlib'>Add</button>
            <button class='buttonlib'>Delete</button>
        </div>
    </div>
    <div class='item' id='1'>
        <div class='background'><img src='imgs/fakeLibrary/img0.jpg'><div class='layer'></div></div>
        <button class='add' id="openImage0">Add</button>
        <p>Title: <strong>Fig1</strong></p>
        <p class="center">  Date: <strong>07.08.2018</strong></p>
        <img class="type" src="imgs/icons/img_selected.svg" >

    </div>
    <div class='item' id='2'>
        <div class='background'><img src='imgs/fakeLibrary/img1.png'><div class='layer'></div></div>
        <button class='add' id="openImage1">Add</button>
        <p>Title: <strong>Fig2</strong></p>
        <p class="center">  Date: <strong>24.07.2018</strong></p>
        <img class="type" src="imgs/icons/img_selected.svg" >
    </div>
    <div class='item' id='3'>
        <div class='background'><img src='imgs/fakeLibrary/img2.jpeg'><div class='layer'></div></div>
        <button class='add' id="openImage2">Add</button>
        <p>Title: <strong>Fig3</strong></p>
        <p class="center">  Date: <strong>24.07.2018</strong></p>
        <img class="type" src="imgs/icons/img_selected.svg" >
    </div>
</div>