<div class="vertical-navbar">
        <img src="imgs/user_spaulinet.png" name="fakeimg" class="img-user"/>
        <div id="profile-menu">
                <!--
                <div class="dropdown-modes">
                        <a href='#' class='dropdown-modes-btn'  id='author' name='Modes'>Modes</a>
                        <div class='dropdown-modes-content'>
                                <div class='dropdown-modes-item'><a href='#'  id="reader">Contextual mode</a></div>
                                <div class='dropdown-modes-item'><a href='#'  id="author">Multi-window mode</a></div>
                                <div class='dropdown-modes-item'><a href='#' class='notclickable' id="author">Component-based mode</a></div>
                                <div class='dropdown-modes-item'><a href='#' class='notclickable' id="author">Constructive/Swarm mode</a></div>
                                <div class='dropdown-modes-item'><a href='#' class='notclickable' id="author">Control panel</a></div>
                        </div>
                </div>-->
                      <!--          
                <div class='dropdown-drafts' >
                        <a href='#' class='dropdown-drafts-btn'  id='author' name='Drafts'>Drafts</a>
                        <div class='dropdown-drafts-content'>
                                <div class='dropdown-drafts-item'><a href='#'  id="reader">Show all drafts</a></div>
                                <div class='dropdown-drafts-item'><a href='#'  id="author">New draft</a></div>
                        </div>
                </div>-->
               <!-- <a href="publications" id="publications">Publications</a>-->
        </div>
</div>