
	<div class="Multiwindow">

		<div class="raw">
			<button>style.css</button>
			<button>fonts.css</button>
			<button>css</button>
		</div>
		<div id="accordion">
		  <h3>Typography</h3>

		  <div class="content">

				<div class="raw">
					<select  id="fontChange">
                        <option value="Verdana">Verdana</option>
                       <!-- <option value="Sitka">Sitka</option>-->
						<option value="Georgia">Georgia</option>
					</select>
				</div>

			  	<h4>Display</h4>
			  	<div class="raw">
			  		<div class="col-4">
			  			<div class="label" >&lt;h1&gt;</div>
			  			<div class="preview"><span>Sitka</span></div>
			  		</div>
			  		<div class="col-4">
			  			<div class="label" >&lt;h2&gt;</div>
			  			<div class="preview"><span>Sitka</span></div>
			  		</div>
			  		<div class="col-4">
			  			<div class="label" >&lt;h3&gt;</div>
			  			<div class="preview"><span>Sitka</span></div>
			  		</div>
			  		<div class="col-4 text-right">
			  			<!-- <button>Add new</button> -->
			  		</div>
			  	</div>
			  	<div class="raw">
			  		<div class="col-4">
			  			<div class="label" >&lt;h4&gt;</div>
			  			<div class="preview"><span>Font</span></div>
			  		</div>
			  		<div class="col-4">
			  			<div class="label" >&lt;h5&gt;</div>
			  			<div class="preview"><span>Font</span></div>
			  		</div>
			  		<div class="col-4">
			  			<div class="label" >&lt;h6&gt;</div>
			  			<div class="preview"><span>Font</span></div>
			  		</div>
			  		<div class="col-4">
						
			  		</div>
			  	</div>
			  	<hr>
			  	<h4>Casual</h4>
			  	<div class="raw">
			  		<div class="col-4">
			  			<span>Univers 65 Bold</span>
			  		</div>
			  		<div class="col-4">
			  			<span>Univers 65 Roman</span>
			  		</div>
			  		<div class="col-4">
			  			
			  		</div>
			  		<div class="col-4 text-right">
			  			<!-- <button>Add new</button> -->
			  		</div>
				</div>
				<div class="raw">
				  	<div class="col-4">
				  		<span>Univers 65 Bold</span>
				  	</div>
				  	<div class="col-4">
				  		<span>Univers 65 Roman</span>
				  	</div>
				</div>

				<h4>Size</h4>
				<div class="raw">
					<div class="col-2">
					  <p>Display 
					  	<span class="hstyle">h1</span>,
						<span class="hstyle selected">h2</span>,
						<span class="hstyle">h3</span>,
						<span class="hstyle">h4</span>,
						<span class="hstyle">h5</span>,
						<span class="hstyle">h6</span>
					  </p>
					</div>
					<div class="col-2"></div>
				</div>
				<div class="raw">
					<div class="col-2">
						<div class="range-top">0</div>
					</div>
					<div class="col-2 text-right">
						<!-- <button>40</button> -->
					</div>
				</div>
				<div class="raw">
					<div class="range">
						<div class="ruler">
							<div></div>
							<div></div>
						</div>
						<div class="bottom">
							<div class="val-min">15</div>
							<div class="val-active">
							<div class="mark"></div>
							19
							</div>
							<div class="val-max">22</div>
						</div>
					</div>
				</div>
				<!--  -->
				<hr>
				<!--  -->
				<div class="raw">
					<div class="col-2">
					  <p>Casual</p>
					</div>
					<div class="col-2"></div>
				</div>
				<div class="raw">
					<div class="col-2">
						<div class="range-top">0</div>
					</div>
					<div class="col-2 text-right">
						<!-- <button>40</button> -->
					</div>
				</div>
				<div class="raw">
					<div class="range">
						<div class="ruler">
							<div></div>
							<div></div>
						</div>
						<div class="bottom">
							<div class="val-min">15</div>
							<div class="val-active">
								<div class="mark"></div>
								19
							</div>
							<div class="val-max">22</div>
						</div>
					</div>
				</div>
				<!--  -->
				<div class="raw"></div>
				<di class="raw">
					<div class="col-2">
						<h4>
							<span class="hstyle">h1</span>,
							<span class="hstyle selected">h2</span>,
							<span class="hstyle">h3</span>,
							<span class="hstyle">h4</span>,
							<span class="hstyle">h5</span>,
							<span class="hstyle">h6</span>
							/ 
							<span class="hstyle">Casual</span>
						</h4>

						<ul class="menu-font">
						  <li>
						    <div>Weight 
						    	<select name="" id="">
									<option value="">Regular</option>
									<option value="">Light</option>
									<option value="">Bold</option>
								</select>
							</div>
						  </li>
						  <li>
						    <div>Tracking <input type="number" value="42"></div>
						  </li>
						  <li>
						    <div>Kerning <input type="number" value="42"></div>
						  </li>
						  <li>
						    <div>
						    	OpenTypes features
						    	<select name="" id="">
									<option value=""></option>
									<option value="">• • •</option>
									<option value="">• • •</option>
								</select>
							</div>
						  </li>
						</ul>

					</div>
					<div class="col-2">
						<h4>Links</h4>
						<ul class="menu-font">
						  <li>
						    <div>
						    	Behaviors 
						    	<select name="" id="">
									<option value=""></option>
									<option value="">• • •</option>
									<option value="">• • •</option>
								</select>
							</div>
						  </li>
						  <li>
						    <div>
						    	Decoration 
						    	<select name="" id="">
									<option value=""></option>
									<option value="">• • •</option>
									<option value="">• • •</option>
								</select>
						    </div>
						  </li>
						</ul>


					</div>
				</di>

			</div> <!-- end of typography -->
		  








		<h3>Background</h3>
			<div class="content">
			  	<div class="raw">
			  		<div class="col-2">
			  			<!-- <h4>Display</h4> -->
					  	<div class="preview"><span>Sitka</span></div>
			  		</div>
			  		<div class="col-2">
			  			<div id="demoWheel"></div>
			  		</div>
			  	</div>
			 </div>
		  <h3>Colors</h3>
		  <div class="content">
			  	<div class="raw">
			  		<div class="col-2">
			  			<!-- <h4>Display</h4> -->
					  	<div class="preview"><span>Sitka</span></div>
			  		</div>
			  		<div class="col-2">
			  			<div id="demoWheel2"></div>
			  		</div>
			  	</div>
			 </div>
		  <h3>Composition &mdash; grid</h3>
		  <div class="content">
			<div class="raw">

				<div class="col-2">
					<h4>Grid</h4>
					<div class="raw text-align">
						<div class="col-4">
							<img class="selected" src="../../imgs/assets/col-1.svg">
						</div>
						<div class="col-4">
							<img src="../../imgs/assets/col-2.svg">
						</div>
						<div class="col-4">
							<img src="../../imgs/assets/col-3.svg">
						</div>
						<div class="col-4 ">
						</div>
					</div>
					<h4>Display / Casual</h4>
					<div class="raw text-align">
						<div class="col-4">
							<img class="selected" src="../../imgs/assets/text-left.svg">
						</div>
						<div class="col-4">
							<img src="../../imgs/assets/text-center.svg">
						</div>
						<div class="col-4">
							<img src="../../imgs/assets/text-justify.svg">
						</div>
						<div class="col-4 ">
							<img src="../../imgs/assets/text-right.svg">
						</div>
					</div>
				</div>

				<div class="col-2">
					<h4>Margins</h4>
					<ul class="menu-font">
					  <li>
					    <div>Top <input type="number" value="0"></div>
					  </li>
					  <li>
					    <div>Right <input type="number" value="15"></div>
					  </li>
					  <li>
					    <div>Bottom <input type="number" value="15"></div>
					  </li>
					  <li>
					    <div>Left<input type="number" value="0"></div>
					  </li>
					</ul>
				</div>
			</div>
		  </div>
		</div>
	</div>

	<script>
		$( "#accordion" ).accordion({
		  active: 0, 
		  heightStyle: "content" 
		});


		$(".hstyle").click(function(event) {
			$(".hstyle").removeClass('selected');
			$(this).addClass('selected');
			var content = $(this).html();

			for (var i = 0; i < $(".hstyle").length; i++) {
				if($(".hstyle").eq(i).html() === content){
					$(".hstyle").eq(i).addClass('selected');
				}
			}


		});

		$("#fontChange").change(function() {
			var fontFamily = $( "#fontChange option:selected" ).text();

			$(".preview").css("font-family", fontFamily);
			$(".preview span").html(fontFamily);
		})

		// Set font-size
		$(".Multiwindow .preview").eq(0).css("font-size", "48px");
		$(".Multiwindow .preview").eq(1).css("font-size", "28px");
		$(".Multiwindow .preview").eq(2).css("font-size", "16px");

		$(".Multiwindow .preview").eq(6).css("font-size", "48px");
		$(".Multiwindow .preview").eq(7).css("font-size", "48px");


		$(".val-active").draggable({ axis: "x" });


		// https://www.cssscript.com/sleek-html5-javascript-color-picker-iro-js/
		var demo = new iro.ColorPicker("#demoWheel", {
	        width: 250,
	        height: 250,
	        markerRadius: 8,
	        // color: "#18b118",
	        color: "#FFFFFF",
	        borderWidth: 0,
	        padding: 0,
	        anticlockwise: true,
	        css: {
	          body: {
	            // "background-color": "$color",
	            // "color": "$color"
	          }, 
	          ".preview": {
	          	"background-color": "$color"
	          }
	        }
				});
				
		demo.on('color:change', function(color){
				console.log(color.hexString);
				if(allowColorChange){
					console.log("--> allow color change");
					background_color = color.hexString;
					applyBackgroundColorToArticle(background_color);
				}
		});

		var demo2 = new iro.ColorPicker("#demoWheel2", {
	        width: 250,
	        height: 250,
	        markerRadius: 8,
	        color: "#0F0",
	        borderWidth: 0,
	        padding: 0,
	        anticlockwise: true,
	        css: {
	          body: {
	            // "background-color": "$color",
	            // "color": "$color"
	          }, 
	          ".preview": {
	          	"color": "$color"
	          }
	        }
	      });
		
		demo2.on('color:change', function(color){
				console.log(color.hexString);
				if(allowBackgroundColorChange){
					font_color = color.hexString;
					applyFontColorToArticle(font_color);
				}
		});

	</script>
