<div class="horizontal-navbar">
    
        <div class="logo">
            <ul>
                <li><a href="#home"><img src="imgs/icons/R_green.svg" class="logo-icon" /></a></li>
                <li class="profile-dropdown off"><h1 class="profile">Reshaped</h1></li>
            </ul>
        </div>
        <div class="login">
            <ul>
                <li><a href="#home"><img src="imgs/icons/R_white.svg" class="logo-icon" /></a></li>
                <li class="profile-dropdown-off"><h1 class="profile">Reshaped</h1></li>  
                <li>   
                   <!-- <form method="POST" action="" >-->
                        <label for="user" class="user">Sign up</label>
                        <input type="text" name="username" class="text-field" value="Enter Login">
                        <input type="text" name="password" class="text-field" value="Enter Password">
                        <input type="submit" value="Log in" class="btn-field">
                 <!--   </form>  -->
                </li>
            </ul>
        </div>
        <div class="logout">
            <ul>
                <li><a href="#home"><img src="imgs/icons/R_white.svg" class="logo-icon" /></a></li>
    
                <li class="dropdownTest">
                        <a href="javascript:void(0)" class="dropbtnTest">Profile</a>
                        <div class="dropdown-contentTest" id="profile-menu-selection">
                            <a href="#"  id="reader">Reader</a>
                            <a href="#"  id="author">Author</a>
                            <a href="#" id="editor">Editor</a>
                            <a href="#" id="designer">Designer</a>
                            <a href="#" id="logout">Sign out</a>
                        </div>
                </li>
    
    
                <li><a href="#">R/points</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Layout</a></li>
                <li><a href="#">Styles</a></li>
                <li><a href="#" class="nav-icon" id="print"><img src="imgs/icons/print.svg" class="icon"></a></li>
                <li><a href="#" class="nav-icon" id="bookmark"><img src="imgs/icons/bookmark.svg" class="icon"></a></li>
                <li><a href="#" class="nav-icon" id="save"><img src="imgs/icons/save.svg" class="icon"></a></li>
                <li><a href="#" class="nav-icon" id="sharewith"><img src="imgs/icons/sharewith.svg" class="icon"></a></li>
                <li><a href="#" class="nav-icon" id="publish"><img src="imgs/icons/publish.svg" class="icon"></a></li>
                <li id="specialsuggestion"><a href="#" class="nav-icon" id="suggestion"><img src="imgs/icons/suggestion.svg" class="icon"><p id="nbSuggestions"></p></a></li>
            </ul>  
        </div>
        
    </div>
    